@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
  --bluegrey: #bbc3cd;
  --lightgrey: #e3ebf6;
  --lightgrey2: #f3f5f9;
  --bgColor2: white;
  --bgColor: #f6f2f0bc;
  --font: "Poppins, sans-serif";
}

body {
  background-color: var(--bgColor);
  font-family: "Poppins", sans-serif !important;
}
body,
html {
  margin: 0;
}

.MuiSelect-select {
  width: 170px;
  color: grey;
  height: 30px;
  padding: 10px;
}
/* .MuiSelect-select:focus {
  outline: none;
  border: 1px solid grey;
} */
.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: grey !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: grey !important;
}

.MuiToggleButton-root {
  padding: 6px;
}

.MuiTooltip-tooltip {
  font-size: 1rem;
}
