@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

:root {
  --bluegrey: #bbc3cd;
  --lightgrey: #e3ebf6;
  --lightgrey2: #f3f5f9;
  --bgColor: #f6f2f0;
  --fontMono: "Roboto Mono, monospace";
}

body {
  background-color: var(--bgColor);
}

.MuiSelect-select {
  width: 170px;
  color: grey;
  height: 30px;
  padding: 10px;
}
/* .MuiSelect-select:focus {
  outline: none;
  border: 1px solid grey;
} */
.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: grey !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: grey !important;
}

.MuiToggleButton-root {
  padding: 6px;
}

.MuiTooltip-tooltip {
  font-size: 1rem;
}
