.main {
  border-bottom: 1px solid rgba(128, 128, 128, 0.288);
  display: flex;
  gap: 10px;

  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 1250px;
}
.main * {
  /* border: 1px solid blue; */
}

/* PIC LEFT */
.picLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBox {
  width: 90%;
  height: 90%;
  /* padding: 20px; */
}
.imgBox img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* INFO */
.info {
  flex: 2.5;
}
.tags {
  display: flex;
  justify-content: flex-start;
}
.title h2 {
  flex: 1;
  /* border: 1px solid green; */
  /* inline-size: 300px; */
  /* overflow-wrap: break-word; */
}

/* CONFIG */
.config {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 187px;
}
.configBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.configBtns > *:nth-child(1) {
  /* background-color: yellow; */
}
.configBtns > *:nth-child(2) {
  /* background-color: orange; */
  /* margin: 0 !important; */
}
.lowInvWarning {
  color: orange;
  margin-top: 6px;
  text-align: center;
}

/* PRICE */
.price {
  flex: 1;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 112px;
}
.salesPrice {
  background-color: rgba(255, 0, 0, 0.859);
  color: white;
  width: fit-content;
  /* height: fit-content; */
  padding: 5px;
  border-radius: 8px;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .config {
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .imgBox {
    width: 40%;
  }
}

/* INDIVIDUAL ELEMENTS */
.main p,
.main h2,
.main h3 {
  padding: 0;
  margin: 0;
}

.id {
  color: grey;
}
.title {
  padding: 5px;
  font-size: 0.9rem;
}

.editIcon {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  color: rgb(0, 72, 255);
  /* max-width: 80px; */
}

.editIcon:hover {
  background-color: rgb(216, 216, 216);
}

.category,
.featured {
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  max-width: fit-content;
}
.featured {
  background-color: rgb(1, 128, 1);
  color: white;
}
.btn,
.btnDelete {
  margin-left: 10px;
  margin-top: 10px;
}
.btnDelete {
  color: red;
  border: 1px solid red;
}
.btnDelete:hover {
  outline: none;
  color: red;
  background-color: red;
  color: white;
  border: 1px solid red;
}
@media (max-width: 463px) {
  .btnDelete {
    margin-top: 20px;
    margin-left: 30px;
  }
}

/* FLAVOR ROW (CRUD) */
.flavors {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}
@media (max-width: 900px) {
  .flavors {
    flex-direction: column;
  }
}
.flavorRows {
  padding: 20px;
}
.flavorRow {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.flavorName {
  /* background-color: rgb(125, 159, 190); */
  /* border: 1px solid red; */
  /* width: 180px; */
  /* white-space: normal; */
  font-size: 1.3rem;
  color: grey;
  inline-size: 180px;
  overflow-wrap: break-word;
}
.inventoryInput {
  padding: 10px;
  width: 70px;
  font-size: 1rem;
  border: 1px solid rgba(178, 178, 178, 0.491);
  border-radius: 4px;
}
.inventoryInput:focus {
  outline: none;
}
.flavorDelete {
  background-color: white;
  margin: 4px;
  color: red;
  border: 1px solid red;
}
.flavorDelete:hover {
  background-color: red;
  color: white;
}

.headerFlavor,
.headerInv {
  display: inline-block;
  font-size: 1.2rem;

  font-weight: 600;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
}
.headerFlavor {
  width: 180px;
}

.addFlavorBtn {
  margin-top: 10px;
}

@media (max-width: 950px) {
  .sampleView {
    display: none;
  }
}
