.main {
  /* border: 1px solid blue; */
  /* border-radius: 20px; */
  /* padding: 20px; */
  /* background-color: yellow; */
}
.clientBox {
  display: flex;
  gap: 10px;
}
.clientBox > *:nth-child(1) {
  width: 250px;
}
.clientBox > *:nth-child(2) {
  flex: 1;
}
.header {
  height: 230px;
  background-color: black;
  color: white;
  /* padding: 30px; */
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
}
.header h1 {
  margin-left: 140px;
}
.sidebar {
  background-color: black;
  color: white;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  position: sticky;
  top: 30px;
}
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
.sideContents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.sideItem {
  border: 1px solid white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  text-align: right;
  padding: 5px 10px;
  border-radius: 15px;
  box-sizing: border-box;
}
.sideItemSelect {
  background-color: white;
  color: black;
}
.createBox {
  /* border: 1px solid rgb(55, 64, 57); */
  /* background-color: white; */
  border-radius: 5px;
  /* padding-top: 20px; */
  padding-bottom: 40px;
  max-width: 970px;
  margin: 40px auto 1000px auto;
}
.createForms {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .createForms {
    flex-direction: column;
  }
}
@media (max-width: 485px) {
  .main .productForm {
    flex-direction: column;
  }
}
.main .productForm {
  display: flex;
}
.sizeForm input {
  width: 120px;
}
.sizeForm h3 {
  text-align: left !important;
}

.main input::placeholder {
  color: rgba(167, 165, 165, 0.886);
}

.main input {
  font-size: 1.1rem;
  padding: 10px;
  margin: 2px;
  color: grey;
  border: 2px solid rgba(128, 128, 128, 0.328);
  border-radius: 6px;
}
.main label {
  display: block;
  font-size: 1.1rem;
  padding-left: 10px;
  margin-top: 5px;
  color: grey;
}
.main input:focus {
  border: 2px solid #5555558c;
  outline: none;
}

.unitPriceBox {
  position: relative;
}
.unitPriceBox span {
  position: absolute;
  color: grey;
  top: 64%;
  left: 20px;
  transform: translate(-50%, -50%);
}
.unitPriceBox input {
  box-sizing: border-box;
  padding-left: 30px;
  width: 211px;
}
.featuredLabel {
  padding-top: 4px;
}
.toggle {
  margin-top: 4px;
  margin-left: 10px;
}
.main h3 {
  /* text-align: center; */
  font-weight: 600;
  color: grey;
  margin: 10px;
}
.inputRow {
  display: flex;
}
@media (max-width: 500px) {
  .inputRow {
    flex-direction: column;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.421);
  }
}
