.main {
  background-color: white;
  /* max-width: 620px; */
  border-radius: 20px;
  /* border: 1px solid grey; */
  /* margin-left: auto;
  margin-right: auto; */
}
.cartEmpty {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cartEmpty a {
  text-decoration: none;
}
.cartEmpty h2 {
  margin: 0;
}
.title {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 0;
}
.cartRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border-bottom: 1px solid rgba(218, 218, 218, 0.673);
}
.cartRow > * {
  /* border: 1px solid green; */
}
.product {
  display: flex;
  width: 350px;

  /* border: 1px solid red; */
}
.nameFlavor > * {
  /* width: 50%; */
  inline-size: 200px;
  overflow-wrap: break-word;
}
.nameFlavor p {
  color: rgb(153, 153, 153);
}
.imgBoxRow {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.imgBoxRow img {
  width: 100%;
  height: 100%;
}
.quantity {
  width: 140px;
}
.price {
  width: 80px;
  font-size: 1.3rem;
  font-weight: 600;
  color: green;
}
.delete {
  width: 50px;
  height: 50px;
  background-color: #e2deda;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.delete > * {
  color: #1e1d1c;
}

/* CHANGE Q CONTROLLER */
.changeQBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(223, 223, 223, 0.892);
  height: 50px;
  border-radius: 100px;
  z-index: 0;
}
.changeQBox * {
  user-select: none;
  /* border: 1px solid red; */
}
.plusMinus {
  font-size: 1.5rem;
  color: green;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0 5px;
  cursor: pointer;
}

/* CART MOBILE */
.cartRowMobile {
  padding: 15px 5px;
  width: 100%;
}
.imgBoxRowSm {
  flex: 1;
  /* border: 1px solid blue; */
  object-fit: contain;
  margin-right: 15px;
  margin-left: 25px;
  /* border-radius: 20px;
  overflow: hidden; */
}
.imgBoxRowSm img {
  width: 100%;
  max-width: 165px;
  max-height: 165px;
}

.right {
  flex: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 15px;
}
.bottom {
  align-items: center;
}

.nameFlavorSm h3 {
  font-size: 1.1rem;
  inline-size: 120px;
  overflow-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.nameFlavorSm p {
  /* border: 1px solid red; */
  font-size: 0.9rem;
  margin: 0;
  inline-size: 150px;
  overflow-wrap: break-word;
}
.deleteSm {
  width: 45px;
  height: 45px;
  background-color: #e2deda;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteSm > * {
  color: #1e1d1c;
}
.quantitySm {
  width: 120px;
}
@media (max-width: 370px) {
  .quantitySm {
    width: 100px;
  }
}
.priceSm {
  font-size: 1.2rem;
  color: green;
}
@media (max-width: 470px) {
  .right {
    margin-left: 5px;
    margin-right: 5px;
  }
  .imgBoxRowSm {
    margin-left: 5px;
  }
  .priceSm {
    font-size: 1rem;
  }
}
@media (min-width: 400px) {
  .nameFlavorSm h3 {
    font-size: 1.3rem;
    inline-size: 180px;
  }
  .nameFlavorSm p {
    font-size: 1rem;
  }
}

.cartRow {
  display: none;
}
.cartRowMobile {
  display: flex;
}

/* @media (max-width: 800px) {
  .cartRow {
    display: none;
  }
  .cartRowMobile {
    display: flex;
  }
}
@media (min-width: 801px) {
  .cartRow {
    display: flex;
  }
  .cartRowMobile {
    display: none;
  }
} */
