.main {
  background-color: grey;

  margin: 50px;
}

/* CART */
.cart {
  /* background-color: aqua; */
}
/* OAUTH LOGIN */
.login {
  background-color: rgb(105, 105, 218);
}
/* CUSTOMER PROFILE */
.customerProfile {
  background-color: antiquewhite;
}
/* CHECKOUT */
.checkoutBtn {
  background-color: rgb(80, 120, 120);
}
