.checkoutFlex {
  display: flex;
  gap: 30px;
  margin: 50px auto;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1000px;
}
.screen {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(95, 95, 95, 0.341);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.screen > * {
  transform: translateY(50px);
}
.screen h2 {
  text-align: center;
  color: black;
  padding: 10px;
  text-shadow: 0 0 20px white;
}
.screen p {
  width: 95vw;
  max-width: 320px;
  padding: 5px;
}
@media (max-width: 300px) {
  .screen p {
    display: none;
  }
}
.success {
  background-color: rgba(255, 255, 255, 0.769);
}
.success > * {
  margin: 0;
}
.success p {
  font-size: 1.4rem;
  width: 450px;
  text-align: center;
}
.gap {
  height: 200px;
}
@media (max-width: 890px) {
  .checkoutFlex {
    flex-direction: column;
  }
  .gap {
    display: none;
  }
}
@media (max-width: 690px) {
  .checkoutFlex {
    padding-left: 5px;
    padding-right: 5px;
  }
}
