.main {
  /* padding: 15px; */
  /* padding-right: 30px; */
  /* padding-left: 0; */
  /* border: 1px solid red; */
}
.label {
  position: relative !important;
  display: block;
  transform: translate(-0.8em, -0.3em);
}

.input {
  padding-top: 1.6em !important;
  padding-bottom: 1.6em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  /* padding-left: 2.5em !important; */
  letter-spacing: 0.2em;
}
.inputExpPlaceholder {
  letter-spacing: 0.3em;
}
.inputExp {
  letter-spacing: 0.5em;
}
.inputCvv {
  padding-left: 0.8em !important;
  letter-spacing: 0.1em;
}
